<main>
    <div id="home">
        <ul class="posts">
        {{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
        {{ range $paginator.Pages }}
            <li itemscope itemtype="//schema.org/BlogPosting">
                <a href="{{ .Permalink }}" itemprop="url">
                    <div class="p-wrap">
                        <time datetime="" itemprop="datePublished">
                        <span class="baffle">{{ .Date.Format "02 Jan 2006" }}</span>
                        </time>
                        <p itemprop="name headline"><span class="baffle">{{ .Title }}</span></p>
                    </div>
                </a>
                {{ if .Site.Params.showsummaries }}
                {{ if .Params.summary }}
                <div class="summary">
                  {{ .Params.summary | markdownify }}</div>
                {{ else }} 
                <div class="summary">
                  {{ .Summary | markdownify }}</div>
                {{ end }}
                {{ end }}
            </li>
        {{ end }}
        </ul>
    </div>
</main>
